body{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.btn{
    padding-top: 10px;
}
.card2{
   height: 10px;
   font-size:400%;
}